.user-list-item .nav-col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--ion-color-primary);
  cursor: pointer;
}

.user-list-item .nav-col:hover {
  color: var(--ion-color-danger);
}

.user-list-item .nav-icon {
  padding: 10px;
  font-size: 25px;
}
